<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Dentist" connectionString="Data Source=.;Initial Catalog=Dentist;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Entities" connectionString="metadata=res://*/Entities.DentistModel.csdl|res://*/Entities.DentistModel.ssdl|res://*/Entities.DentistModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Dentist;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>