
@{
    ViewBag.Title = "PatientSearchInfo";
}

<h2>PatientSearchInfo</h2>

@using (Html.BeginForm())
{
    <input type="text" name="patientID" />
    <input type="text" name="mobileNumber" />
    <input type="text" name="phoneNumber" />
    <input type="text" name="Name" />
}

